

<div class="container">
<h1>Contacto</h1>
<div id="texto" #textos>
  <p>
    Esta es la página de contacto, puedes enviarnos cualquier duda.
  </p>
</div>
<!--
  Tamaño del slider
  <input type="number" [(ngModel)]="widthSlider" />
  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="borrarSlider()">Borrar Slider</button>

  <div *ngIf="anchoToSlider">
  <slider [ancho]="widthSlider"
          [captions]="captions"
          (conseguirAutor)="getAutor($event)"

  ></slider>
  </div>
  <div class="container" *ngIf="autor">

    {{autor.nombre + " " + autor.website}}

  </div>
</div>
-->
