<div id="tittle">
  <h1>{{title}}</h1>
  <img src="https://storage.googleapis.com/images-de/foto.jpg"/>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam at beatae fugiat harum inventore iste, iure laudantium molestias odio pariatur perferendis perspiciatis praesentium quas, quisquam tempora ullam vero, voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate, eaque eligendi fugiat fugit hic iusto labore minus mollitia, officia possimus quam quasi recusandae repellat sapiente vel veniam voluptatem, voluptates?</p>
</article>
