@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background: url("https://storage.googleapis.com/images-de/fondo.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.clearfix{
  float:none;
  clear: both;
}



/*  Header */

header{
  display: block;
  width: 100%;
  height: 80px;
  background: white;
  position: fixed;
  text-transform: uppercase;

}

header ul{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: inherit;
  margin: 0px auto;

}

header ul li{
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 80px;
}

header a{
  font-size: 20px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: #0c3a71;
  transition: all 300ms ;
}
header a:hover{
  transition: all 300ms ;
  color: #0c3a71;
}

/* Logo */

#logo{
  font-family: 'Righteous', cursive;

}
#logo a{
  transition: color 500ms, transform 500ms;
  font-size: 60px;

}

header #logo a:hover,
.actived{
  background: transparent;
  color: #0c3a71;
  font-family: 'Righteous', cursive;
  transform: scale(1.25, 1.25);
}

/* Contenedor  */

#content{
  min-height: 100vh;
  width: 90%;
  margin: 0px auto;
  padding-top: 120px;

}




/* Footer */

footer{
  text-align: center;
  font-size: 15px;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background: #0e1f63;

}
