@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background: url("https://storage.googleapis.com/images-de/fondo.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.clearfix{
  float:none;
  clear: both;
}



/*  Header */

header{
  display: block;
  width: 100%;
  height: 80px;
  background: white;
  position: fixed;
  text-transform: uppercase;

}

header ul{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: inherit;
  margin: 0px auto;

}

header ul li{
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  line-height: 80px;
}

header a{
  font-size: 20px;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: #0c3a71;
  transition: all 300ms ;
}
header a:hover{
  transition: all 300ms ;
  color: #0c3a71;
}

/* Logo */

#logo{
  font-family: 'Righteous', cursive;

}
#logo a{
  transition: color 500ms, transform 500ms;
  font-size: 60px;

}

header #logo a:hover,
.actived{
  background: transparent;
  color: #0c3a71;
  font-family: 'Righteous', cursive;
  transform: scale(1.25, 1.25);
}

/* Contenedor  */

#content{
  min-height: 100vh;
  width: 90%;
  margin: 0px auto;
  padding-top: 120px;

}




/* Footer */

footer{
  text-align: center;
  font-size: 15px;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background: #0e1f63;

}


/* About */
#tittle{
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
#tittle h1{
  font-family: 'Righteous';
  font-size: 60px;
}
#tittle img{
  margin: 10px 0px 10px 0px;
  width: 300px;
  border-radius: 50%;
}

#tittle h2{
  font-size: 25px;
  margin-top: 5px;

}
article.about{
  width: 90%;
  margin: 0px auto;
  font-size: 23px;
}

.about h2{
  border-bottom: 1px solid white;
  width: 140px;
  margin-bottom: 10px;
}
.about p{
  text-align: justify;
}



/* Formulario sección */

.container{
  padding: 50px;
}
.container h2{
  border-bottom: 1px solid white;
  width: 280px ;
  margin: 10px ;
}
.container .imageDetails{
  float: left;
  width: 47%;
}
.container .imageDetails img{
  width: 100%;
  max-height: 500px;
}
.container .dataDetails{
  float: left;
  width: 49%;
  margin-left: 15px;
}
form{
  width: 80%;
}
form label{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
  width: 40%;
  padding: 5px;
}

form button,
form input[type="submit"],
.buttonEdit,
.buttonDelete{
display: block;
  font-size: 17px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background: #0e1f63 ;
  border-radius: 3px;
  border: 1px solid white;
  width: 100px;
  cursor: pointer;
}

.buttonEdit,
.buttonDelete{
  text-align: center;
  width: 90px;
  float: left;
  margin-right: 10px;
  text-decoration: none;
}
.buttonEdit{
  background: #2c50ad;
}
.buttonEdit:hover{
  background: #4c69b0;
}
.buttonDelete{
  background: indianred;
}
.buttonDelete:hover{
  background: #bb2020;
}


form button:hover,
form input[type="submit"]:hover{

  background: #00fedc;
  color: #0e1f63;
  border-radius: 3px;
  border: 1px solid white;
  width: 100px;
  cursor: pointer;
}
form input[disabled]{
  opacity: 0.4;
  cursor: not-allowed;

}
.formError{
  font-size: 13px;
  padding: 3px;
  margin-left: 5px;
  background: red;
  color: white;
}

.message{
  width: 38%;
  padding: 5px;
  border-bottom: 1px white;
}
.succes{
  border-radius: 4px;
  background: green;
  color: white;
}

.succes a{
  color: white;
}

.failed{
  background: red;
  color: white;
}
/* Página proyectos*/

.project{
  width: 28%;
  list-style: none;
  display: block;
  float: left;
  text-align: center;
  margin: 10px 10px;

}

.projectsContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project img{
  width: 100%;

}
.project li{

}

.image{
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.projectsContent a{
  text-decoration: none;
  color: white;
}
.confirm{
  margin-top: 20px;
}
.confirm span{
  color: #ff0000;
}
